.env
.venv/*
**.pyc
**/__pycache__/*
betsmart/betsmart/__pycache__/*
betsmart/start/__pycache__/*
betsmart/stats/__pycache__/views.cpython-311.pyc
___ValueBetEmails/client_secret_gmail.json
token.json
___ValueBetEmails/pac_boy.py

betsmart/betsmart/__pycache__/*
betsmart/betsmart/__pycache__/settings.cpython-311.pyc
betsmart/betsmart/__pycache__/urls.cpython-311.pyc
