array_api_strict==2.3
attrs==22.2.0
audio.wave==4.0.2
blinker==1.6.2
brotli==1.1.0
brotlicffi==1.1.0.0
ca_certs_locater==1.0
chardet==5.2.0
click==8.1.7
colorama==0.4.6
ConfigParser==7.2.0
cryptography==39.0.0
Cython==3.0.2
Django==5.0.7
dl==0.1.0
docutils==0.21.2
filelock==3.18.0
Flask==3.1.0
grpc_status==1.0.0
h2==4.2.0
HTMLParser==0.0.2
hypothesis==6.129.3
ipython==8.12.3
ipywidgets==8.1.1
jax==0.5.2
Jinja2==3.1.2
jnius==1.1.0
js==1.0
keyring==25.6.0
matplotlib==3.7.1
mpmath==1.3.0
mtrand==0.1
mypy==1.15.0
nba_api==1.8.0
ndonnx==0.9.3
numarray==1.5.1
Numeric==24.2
oauth2client==4.1.3
pandas==2.2.3
pickle5==0.0.12
Pillow==9.4.0
Pillow==11.1.0
pooch==1.8.2
psutil==5.9.5
PyInstaller==6.12.0
pymongo==4.11.2
pyodide==0.0.2
PyOpenGL==3.1.9
pyOpenSSL==25.0.0
pytest==6.2.5
pytest_fail_slow==0.6.0
pytest_run_parallel==0.3.1
pytest_timeout==2.2.0
python_bcrypt==0.3.2
pyu2f==0.1.5
PyYAML==6.0
PyYAML==6.0.2
railroad==0.5.0
redis==5.2.1
scikit_learn==1.3.0
scikits.talkbox==0.2.5
scipy_doctest==1.6
sets==0.3.2
simplejson==3.20.1
Sphinx==8.2.3
statsmodels==0.13.5
sympy==1.13.3
thread==2.0.5
threadpoolctl==3.6.0
trove_classifiers==2025.3.13.13
urllib3_secure_extra==0.1.0
VideoCapture==0.9.5
xmlrpclib==1.0.1
zstandard==0.23.0
