{% extends 'stats/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="content">
    <form method="POST">
        {% csrf_token %}
        <select name="league" id="league-select" onchange="this.form.submit()">
            <option value="">League Select</option>
            {% for league in leagues %}
                <option value="{{ league }}" {% if selected_league == league %}selected{% endif %}>{{ league }}</option>
            {% endfor %}
        </select>
        <select name="team" id="team-select">
            <option value="">Team Select</option>
            {% for team in teams %}
                <option value="{{ team.id|stringformat:"s" }}" {% if selected_team == team.id|stringformat:"s" %}selected{% endif %}>{{ team.full_name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Get Stats</button>
    </form>

    {% if players_stats %}
        <div class="team-name">{{ team_name }}</div>
        <h2>Season Stats</h2>
        <table class="table-space">
            <tr>
                <th>Player</th>
                <th>GP</th>
                <th>MIN</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>FG%</th>
                <th>3PM</th>
                <th>3PA</th>
                <th>3P%</th>
                <th>FTM</th>
                <th>FTA</th>
                <th>FT%</th>
                <th>REB</th>
                <th>AST</th>
                <th>STL</th>
                <th>BLK</th>
                <th>TOV</th>
                <th>PTS</th>
            </tr>
            {% for player in players_stats %}
                <tr>
                    <td>{{ player_map|get_item:player.PLAYER_ID }}</td>
                    <td>{{ player.GP }}</td>
                    <td>{{ player.MIN }}</td>
                    <td>{{ player.FGM }}</td>
                    <td>{{ player.FGA }}</td>
                    <td>{{ player.FG_PCT|floatformat:1 }}%</td>
                    <td>{{ player.FG3M }}</td>
                    <td>{{ player.FG3A }}</td>
                    <td>{{ player.FG3_PCT|floatformat:1 }}%</td>
                    <td>{{ player.FTM }}</td>
                    <td>{{ player.FTA }}</td>
                    <td>{{ player.FT_PCT|floatformat:1 }}%</td>
                    <td>{{ player.REB }}</td>
                    <td>{{ player.AST }}</td>
                    <td>{{ player.STL }}</td>
                    <td>{{ player.BLK }}</td>
                    <td>{{ player.TOV }}</td>
                    <td>{{ player.PTS }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2>Last 5 Games</h2>
        <table class="table-space">
            <tr>
                <th>Player</th>
                <th>MIN</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>FG%</th>
                <th>3PM</th>
                <th>3PA</th>
                <th>3P%</th>
                <th>FTM</th>
                <th>FTA</th>
                <th>FT%</th>
                <th>REB</th>
                <th>AST</th>
                <th>STL</th>
                <th>BLK</th>
                <th>TOV</th>
                <th>PTS</th>
            </tr>
            {% for stats in last_5_games_stats %}
                <tr>
                    <td>{{ player_map|get_item:stats.Player_ID }}</td>
                    <td>{{ stats.MIN }}</td>
                    <td>{{ stats.FGM }}</td>
                    <td>{{ stats.FGA }}</td>
                    <td>{{ stats.FG_PCT|floatformat:1 }}%</td>
                    <td>{{ stats.FG3M }}</td>
                    <td>{{ stats.FG3A }}</td>
                    <td>{{ stats.FG3_PCT|floatformat:1 }}%</td>
                    <td>{{ stats.FTM }}</td>
                    <td>{{ stats.FTA }}</td>
                    <td>{{ stats.FT_PCT|floatformat:1 }}%</td>
                    <td>{{ stats.REB }}</td>
                    <td>{{ stats.AST }}</td>
                    <td>{{ stats.STL }}</td>
                    <td>{{ stats.BLK }}</td>
                    <td>{{ stats.TOV }}</td>
                    <td>{{ stats.PTS }}</td>
                </tr>
            {% endfor %}
        </table> 
    {% endif %}
</div>
{% endblock %}
